<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.phantombox.placeholder-images</string>
	<key>connections</key>
	<dict>
		<key>11EFB18C-E050-49EE-9BC6-2BE5B1C52D71</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D90949A-7E75-44B8-A665-CABB47E6C0DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>647A41B1-89A4-45F9-A2A6-B796FADFF938</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E67975C-68F6-4447-8C54-E50453AEA8AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>71997EBA-479C-4569-91B7-3C0721CDAEA3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>647A41B1-89A4-45F9-A2A6-B796FADFF938</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7B201E52-DAC9-4356-8EAD-35394E1CA4B2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>379B9BF6-A0D4-4C5D-A4B0-3858020063F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8D90949A-7E75-44B8-A665-CABB47E6C0DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>71997EBA-479C-4569-91B7-3C0721CDAEA3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Phantombox</string>
	<key>description</key>
	<string>A workflow which will generate links from placeholder images of any size you want.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Placeholder Images</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>$query = "{query}";

$queryParameters = explode(</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>index.php</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8D90949A-7E75-44B8-A665-CABB47E6C0DB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>phi</string>
				<key>subtext</key>
				<string>Example Input: 10, 10, png, Image</string>
				<key>text</key>
				<string>Generate a placeholder image</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>11EFB18C-E050-49EE-9BC6-2BE5B1C52D71</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>... and is available in your clipboard</string>
				<key>title</key>
				<string>Link was created</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8E67975C-68F6-4447-8C54-E50453AEA8AC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>647A41B1-89A4-45F9-A2A6-B796FADFF938</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>7B201E52-DAC9-4356-8EAD-35394E1CA4B2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>71997EBA-479C-4569-91B7-3C0721CDAEA3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Please use the following syntax: "600, 800, png, Example"</string>
				<key>title</key>
				<string>An error has occurred</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>379B9BF6-A0D4-4C5D-A4B0-3858020063F0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A workflow which will generate links from placeholder images of any size you want.

Examples:
phi 20,50,jpg,Hello
phi 500 (Creates 500x500 JPG Image)
phi 500,800
phi 500,png
phi 500,png,Test</string>
	<key>uidata</key>
	<dict>
		<key>11EFB18C-E050-49EE-9BC6-2BE5B1C52D71</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>379B9BF6-A0D4-4C5D-A4B0-3858020063F0</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>455</integer>
		</dict>
		<key>647A41B1-89A4-45F9-A2A6-B796FADFF938</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>71997EBA-479C-4569-91B7-3C0721CDAEA3</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>8D90949A-7E75-44B8-A665-CABB47E6C0DB</key>
		<dict>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>8E67975C-68F6-4447-8C54-E50453AEA8AC</key>
		<dict>
			<key>xpos</key>
			<integer>745</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://phantom-box.com</string>
</dict>
</plist>
