<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.omaririskic</string>
	<key>connections</key>
	<dict>
		<key>95EAB342-8D7C-42E9-B9B7-F341F7EEE1A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53FA5ED2-B780-46D5-A9C9-747C20119125</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C3D07B3B-6E34-4F24-8F70-2EC81BF2B04B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53FA5ED2-B780-46D5-A9C9-747C20119125</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DCDE2FBD-8602-451F-808B-76A40EF7D0AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3D07B3B-6E34-4F24-8F70-2EC81BF2B04B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Omar Iriskic</string>
	<key>description</key>
	<string>Toggle bluetooth devices</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>BluetoothDevicesToggler</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Discovering devices...</string>
				<key>script</key>
				<string>python get_devices.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Showing available Bluetooth devices</string>
				<key>title</key>
				<string>Devices list</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C3D07B3B-6E34-4F24-8F70-2EC81BF2B04B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>DCDE2FBD-8602-451F-808B-76A40EF7D0AD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  activate application "SystemUIServer"
	tell application "System Events"
    		tell process "SystemUIServer"
        -- Working CONNECT Script.  Goes through the following:
        -- Clicks on Bluetooth Menu (OSX Top Menu Bar)
        --    =&gt; Clicks on device Item
        --      =&gt; Clicks on Connect Item
        		set btMenu to (menu bar item 1 of menu bar 1 whose description contains 			"bluetooth")
        		tell btMenu
            		click
            		tell (menu item q of menu 1)
                		click
                		if exists menu item "Connect" of menu 1 then
                    		click menu item "Connect" of menu 1
                    		return "Connecting..."
					else if exists menu item "Disconnect" of menu 1 then
						click menu item "Disconnect" of menu 1
						return "Disconnecting..."
                		else
                    		key code 53 -- Close main BT drop down if Connect wasn't 						present
                    	return "Connect menu was not found, are you already connected?"
                		end if
            		end tell
        		end tell
    		end tell
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>53FA5ED2-B780-46D5-A9C9-747C20119125</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>Omar’s AirPods</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>95EAB342-8D7C-42E9-B9B7-F341F7EEE1A7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Workflow for easily switching Bluetooth devices and put custom shortcut to toggle AirPods for example</string>
	<key>uidata</key>
	<dict>
		<key>53FA5ED2-B780-46D5-A9C9-747C20119125</key>
		<dict>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>95EAB342-8D7C-42E9-B9B7-F341F7EEE1A7</key>
		<dict>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>C3D07B3B-6E34-4F24-8F70-2EC81BF2B04B</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Script Filter Input: A very powerful workflow object, allowing you to populate Alfred's results with your own custom items using external input.</string>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>DCDE2FBD-8602-451F-808B-76A40EF7D0AD</key>
		<dict>
			<key>xpos</key>
			<integer>105</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://omaririskic.com/</string>
</dict>
</plist>
