<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ruddra.notable</string>
	<key>connections</key>
	<dict>
		<key>A1A2E10E-2C9D-43E0-AE33-B750EB4471D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CAD74621-F9E4-4F59-B22C-24F2A448652D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CAD74621-F9E4-4F59-B22C-24F2A448652D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>75521BD6-CB91-42A2-8A34-C6C8768AF317</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD69778A-A49B-44D1-9F54-B24359DEF8B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1A2E10E-2C9D-43E0-AE33-B750EB4471D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F6E3952D-77DE-4220-BEDE-791872C0EFBB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD69778A-A49B-44D1-9F54-B24359DEF8B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Arnab Kumar Shil</string>
	<key>description</key>
	<string>Alfred notable workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Notable</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F6E3952D-77DE-4220-BEDE-791872C0EFBB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>note</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Note</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CD69778A-A49B-44D1-9F54-B24359DEF8B8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>import sys
import os
import errno
from datetime import datetime

name = "{query}"
sys.stdout.write(name)

title = name.title()
file_name = "{}-{}.md".format(
    datetime.today().strftime('%Y-%m-%d'),
    name.replace(' ', '-').lower()
)
folder = os.environ.get('noteable_folder')
home = os.getenv("HOME")
if folder:
    if folder.startswith('~'):
        folder = home + folder[1:]
else:
    folder = "{}/.notable".format(home)
if folder.endswith('notes') or folder.endswith('notes/'):
    pass
else:
    if folder.endswith('/'):
        folder = '{}notes'.format(folder)
    else:
        folder = '{}/notes'.format(folder)
if folder.endswith('/'):
    folder = folder[:-1]

try:
    os.makedirs(folder)
except OSError as e:
    if e.errno != errno.EEXIST:
        raise

template_path = '{}{}template.txt'.format(folder, os.sep)
if os.path.isfile(template_path):
    template = open(template_path, 'r').read()
else:
    template = """# {title}

## Agenda

1. 
2.

## Tasks

* [x] Task One
+ [ ] Task Two 

## Remarks

| Task | Your Remark |
| ------ | ----- |
| Task One | I got it done without any issue |
| Task Two | Had some problem with foo bar |

---

[Cheatsheet](https://cheatsheet.md/notable.pdf) :smile:
"""

if os.environ.get('no_template'):
    data = ""
else:
    data = template.format(title=title)

with open("{}{}{}".format(folder, os.sep, file_name), 'w') as f:
    f.write(data)
    f.close()</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A1A2E10E-2C9D-43E0-AE33-B750EB4471D8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Notable.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>CAD74621-F9E4-4F59-B22C-24F2A448652D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>New note created: {query}</string>
				<key>title</key>
				<string>Note</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>75521BD6-CB91-42A2-8A34-C6C8768AF317</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>It creates a new note with basic template on markdown files. Useful if you have quick notes to take.

In initial version, it only spawans a new markdown file with name: `{date}-{file-name}.md`.</string>
	<key>uidata</key>
	<dict>
		<key>75521BD6-CB91-42A2-8A34-C6C8768AF317</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
		<key>A1A2E10E-2C9D-43E0-AE33-B750EB4471D8</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>CAD74621-F9E4-4F59-B22C-24F2A448652D</key>
		<dict>
			<key>xpos</key>
			<integer>515</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>CD69778A-A49B-44D1-9F54-B24359DEF8B8</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>F6E3952D-77DE-4220-BEDE-791872C0EFBB</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>noteable_folder</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>noteable_folder</string>
	</array>
	<key>version</key>
	<string>1.0.1</string>
	<key>webaddress</key>
	<string>https://ruddra.com</string>
</dict>
</plist>
